### Import the libraries

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score

### Import the dataset

In [28]:
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [29]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

### Convert the column into categorical values

In [30]:
states = pd.get_dummies(X['State'], drop_first=True)

#### Drop the state column

In [31]:
X = X.drop('State', axis=1)

#### Concat the dummy variables

In [32]:
X = pd.concat([X, states], axis = 1)

In [33]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

### Splitting the data into train and test datasets

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

### Fitting the Multiple linear regresssion to the train dataset

In [35]:
regressor = LinearRegression()

In [36]:
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Predicting the results

In [37]:
y_pred = regressor.predict(X_test)

In [39]:
score = r2_score(y_test, y_pred)
print(score)

0.9347068473282423